/*定义变量*/
$headerbg: #fcfcfc;
$headerheight:64px;
$mainwidth:1080px;
$mainborder:1px solid #dedede;

body{
  background-color: #e7e8eb;
  color:#333;
  min-width:1100px;

  .main-container{
    height:100%;
    .main-header{
      background-color: $headerbg;
      border-bottom:1px solid #ededed;
      height:$headerheight;
      padding: 0 60px;

      .header-title{
        float:left;
        width:300px;
        font-family:"微软雅黑";
        margin-left:79px;
        color:#333;
        font-size:22px;
        line-height:60px;
      }
      .zhuce{
        float:right;
        font-size: 16px;
        background-color: #ec971f;
        color: #fff;
        border: none;
        margin: 18px 60px 0 0;
      }
      .ant-menu{
        padding-top:10px;

        .ant-menu-item{
          font-size:14px;
        }
      }
    }
    .form-container{
      background-color:#fff;
      width:538px;
      margin:40px auto;
      border-radius:4px;
      padding-bottom:20px;
      .form-title{
        height: 40px;
        line-height: 40px;
        background-color: #49a9ee;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        margin-bottom:34px;
        font-size:16px;
      }
      .login-form{
        padding: 0 20px;
      }
    }
    .bread-crumb{
      margin: 8px 0 8px 140px;
      .ant-breadcrumb > span:last-child{
        font-weight:normal;
      }
      .ant-breadcrumb > span:first-child{
        font-weight:bold;
      }
      .ant-breadcrumb a{
        font-size:14px;
      }
    }
  }
  .main-mid{
  width: $mainwidth;
  background-color: #fff;
  border:$mainborder;
  font-size:14px;
  border-radius: 4px;
  margin:0 auto;
  overflow: hidden;

  .mid-l{
    float:left;
    width:260px;
    background-color: #f4f6f8;
    border-right:$mainborder;
    font-size:14px;

    .search-input{
      width:238px;
      height:34px;
      border:1px solid #ccc;
      margin:18px 11px;
    }

    .ant-input-affix-wrapper .ant-input-suffix{
      right:17px;
    }

    .ant-tree-title{
      font-size:14px;
    }
    .main-button{
      width:238px;
      height:36px;
      display:block;
      margin:0 auto;

      Button{
        height:36px;
        width:119px;
        font-size:14px;
      }
    }
  }
  .mid-r{
    float:left;
    width:818px;
    padding:26px;

    .ant-btn{
      color:#333;
      border:1px solid #a4a8b1;
    }

    .ant-btn:hover{
      color:#767676;
      border:1px solid #a4a8b1;
    }

    .r-title-line{
      overflow:hidden;
      zoom:1;
      margin-bottom:23px;

      .r-title{
        float:left;
        font-size:20px;
      }
      .r-sign{
        float:left;
        background-color:#f7cb27;
        font-style:normal;
        font-size:10px;
        border-radius: 2px;
        margin: 7px 5px 0 5px;
        color: #fff;
        padding: 0 2px;
      }
      .setting-btn{
        float:left;
      }
    }
    .bread-crumb{
      font-size:14px;
      margin:16px 0 15px 0;
    }
    .ant-breadcrumb-link{
      font-weight:normal;
      a{
        color:#38adff;
      }
    }
    .next-level{
      font-size:20px;

      span{
        margin-left:4px;
      }
    }
    .child-depart{

      margin:22px 0 24px 0;

      .child-btns{
        height:40px;
        background-color:#eceff4;
        padding: 6px 0 0 14px;
        overflow:hidden;

        Button{
          margin-right:8px;
        }
        .ant-btn-primary{
          color:#fff;
        }
        .p-delete{
          color:red;
          border:1px solid red;
        }
      }
      .dept-item{
        padding:10px 15px;
        font-size:12px;
        border-bottom:1px solid #ebebeb;
        overflow:hidden;
        .dept-name{
          float:left;
          padding-left:22px;
          width:70%;
        }
        .dept-icon{
          float:right;
          width:2%;
          color:#b9babc;
        }
        &:hover{
          background: #f7f7f7;
          cursor: pointer;
        }
      }
      .check-all{
        height:40px;
        line-height:40px;
        background-color:#fffada;
        font-size:12px;
        text-align:center;

        a{
          margin-left:15px;
        }
      }
      .number-list{
        width:100%;

        thead tr{
          border-bottom:1px solid #ebebeb;
          height:40px;
          line-height:40px;
          td{
            font-size:12px;
            font-weight:bold;
          }
        }

        tbody tr{
          border-bottom:1px solid #ebebeb;
          height:40px;
          line-height:40px;
          td{
            font-size:12px;
            .invite{
              color:#38adff;
              border-color:#38adff;
            }
          }
        }
      }
    }
  }
}
}