body{
	.ant-modal{
		width:700px;
		.ant-modal-footer{
			display:none;
		}
		.ant-modal-body{
			padding: 16px 40px;
		}
	}
	.setting-modal{
		top:20px;

		.ant-modal-close{
			top:10px;
		}	
		.ant-modal-header{
			padding:22px 16px;

			.ant-modal-title{
				font-size:20px;
			}
		}
		.ant-modal-content{
			width:700px;
		}
	}
	.choose-depart-modal{
		overflow:hidden;
		.l{
			float:left;
		}
		.r{
			float:right;
		}
		.modal-l{
			font-size:14px;
			.modal-l-title{
				font-size:16px;
				padding-bottom:14px;
			}
			.original-depart{
				width:300px;
				min-height:360px;
				background-color:#f4f6f8;
				border:1px solid #dedede;
				border-radius:4px;

				.ant-input-affix-wrapper{
					padding:10px;
					.ant-input{
						height:30px;
						line-height:30px;
					}
					.ant-input-suffix{
						right:15px;
					}
				}
				.bread-crumb{
					font-size:14px;
					padding-left:30px;
				}
				.check-depart{
					padding:10px 15px;
					.close-depart{
						float:right;
					}
				}
			}
		}
		
	}
}

